@charset "UTF-8";

.description {
	display: flex;
	justify-content: center;
	padding-top: 3%;
}

table {
	width:100%; 
	border-collapse:collapse; 
	border:1px solid #ddd;
}

table thead {
	padding-top: 10%;
	background:#000; 
	color:#fff;
}

table thead th {
	padding:1em; 
	border:1px solid #ddd;
}

table tbody td {
	padding:1em; 
	text-align:left; 
	border:1px solid #ddd;
}

table tbody tr.bg td {
	background:#eee;
}

#holi {
	font-size: 48px;
	color: red;
	padding-top: 10%;
	margin: 0 auto;
	text-align: center;
}
#info {
	font-size: 28px;
	margin: 0 auto;
	text-align: center;
}


