@charset "UTF-8";

.centered-container {
	font-size: 120px;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	margin: 0;
	padding: 0;
}
.centered-content {
	width: 100%;
	max-width: 1200px;
}

th, td {
	border-bottom: 1px solid #ddd;
	width: 25%;
	text-align: center;
}

.price {
	font-weight: bold;
}

.up {
	color: #BD423B;
}

.down {
	color: #3574D3;
}

table {
	margin-top: 60px;
	table-layout: fixed;
	width: 100%;
}

.title {
	margin-bottom: 20px;
}

.button {
	display: flex;
	justify-content: center;
	padding: 10px 20px;
	background-color: #28a745;
	color: white;
	text-decoration: none;
	justify-content: center;
	border-radius: 5px;
	width: fit-content;
	margin: 100px auto;
}

table tr {
    font-size: 125px; /* 원하는 크기로 조정 */
}