@charset "UTF-8";

@font-face {
	font-family: 'NanumSquareNeo-Variable';
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}

#box_green {
	width: 1300px;
	height: 1300px;
	flex-grow: 0;
	margin: 3% auto;
	padding: 5%;
	border: 1px solid #F5F5F5;
	background: #C2D0BE;
	border-radius: 7px;
}

#box_white {
	width: 1100px;
	height: 1100px;
	flex-grow: 0;
	margin: 3% auto;
	padding: 5%;
	border: 1px solid #F5F5F5;
	background: #F5F7FB;
	border-radius: 7px;
}

#stockName {
	text-align: center;
	font-family: 'NanumSquareNeo-Variable';
	font-weight: bold;
	font-size: 55pt;
	color: #414F3E;
}

#currentPrice {
	font-family: 'NanumSquareNeo-Variable';
	text-align: center;
	font-size: 35pt;
}

#currentP {
	width: 300px;
	height: 60px;
	font-family: 'NanumSquareNeo-Variable';
	text-align: center;
	vertical-align: center;
	font-size: 30pt;
	background-color: #CFCFCF;
	border: 1px solid black;
	top: 50%;
	left: 50%;
	transform: translate(115%, 10%);
	border-radius: 10px;
}

#Q {
	font-family: 'NanumSquareNeo-Variable';
	text-align: center;
	font-size: 50pt;
	font-weight: bold;
	top: 50%;
	left: 50%;
	transform: translate(3%, 50%);
}

#available {
	font-family: 'NanumSquareNeo-Variable';
	text-align: center;
	font-size: 25pt;
	text-align: center;
	vertical-align: center;
	top: 50%;
	left: 50%;
	transform: translate(80%, 120%);
	width: 400px;
	height: 60px;
	background-color: #CFCFCF;
	border: 1px solid black;
	border-radius: 10px;
}

#Enter {
	font-family: 'NanumSquareNeo-Variable';
	font-size: 25pt;
	top: 50%;
	left: 50%;
	transform: translate(33%, 50%);
}

@import
	url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");

button {
	margin: 20px;
}

.w-btn {
	padding: 15px 30px;
	border: none;
	display: inline-block;
	font-family: 'NanumSquareNeo-Variable';
	font-weight: 600;
	border-radius: 15px;
	box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
	text-decoration: none;
	transition: 0.25s;
	position: relative;
}

.w-btn-green {
	width: 250px;
	padding: 10px 0;
	font-size: 30pt;
	font-family: 'NanumSquareNeo-Variable';
	background-color: #77af9c;
	color: white;
	top: 50%;
	left: 50%;
	transform: translate(-220%, 280%);
}