@charset "UTF-8";
.container {
	display: flex;
	justify-content: flex-start;
	text-align: center;
}

.warning {
	padding-top: 10vh;
}

#warning_name {
	font: bold;
	color: red;
	text-align: center;
}

.div_btn {
	
	text-align: center;
	padding-top: 20vh;
}

.btn{
	display: inline-block;
	width: 200px;
	height: 100px;	
}
