@charset "UTF-8";

.description {
	justify-content: center;
	padding-top: 3%;
}


table {
	margin:auto;
	position:relative;
	width:100%; 
	border-collapse:collapse; 
	border:1px solid #ddd;
}

table thead {
	
	padding-top: 10%;
	background:#000; 
	color:#fff;
}

table thead th {
	padding:1em; 
	border:1px solid #ddd;
	position: relative;
}



table tbody td {
	padding:1em; 
	text-align:left; 
	border:1px solid #ddd;
}

table tbody tr.bg td {
	background:#eee;
}

#holi {
	font-size: 48px;
	color: red;
	padding-top: 10%;
	margin: 0 auto;
	text-align: center;
}
#info {
	font-weight:bold;
	text-align: center;
	padding-bottom: 15px;
}

#loadingSpinner {
  display: block;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* 추가 CSS 속성 */
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 9999;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.show {
  display: none;
}
@font-face {
	font-family: 'SUITE-Regular';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2')
		format('woff2');
	font-weight: 400;
	font-style: normal;
}

.description {
	justify-content: center;
	padding-top: 3%;
}


table {
    width: 1000px; /* 원하는 가로 크기로 설정 */
    margin: auto;
    border-collapse: collapse;
    border: 1px solid #ddd;
}


table thead {
	
	padding-top: 10%;
	background: #efefef; 
	color: black;
}

table thead th {
	padding:1em; 
	border:1px solid #ddd;
	position: relative;
}



table tbody td {
	padding:1em; 
	text-align:left; 
	border:1px solid #ddd;
}

table tbody tr.bg td {
	background:#eee;
}

#holi {
	font-size: 48px;
	color: red;
	padding-top: 10%;
	margin: 0 auto;
	text-align: center;
}
#info {
	font-weight:bold;
	text-align: center;
	padding-bottom: 56px;
	font-size: 28px;
}

#loadingSpinner {
  display: block;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* 추가 CSS 속성 */
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 9999;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.show {
  display: none;
}