@charset "UTF-8";
/* 스타일 설정 */
@font-face {
	font-family: 'SUITE-Regular';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2')
		format('woff2');
	font-weight: 400;
	font-style: normal;
}

#header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px;
	background-color: #f6f6f6;
	height: 80px; /* 헤더의 높이를 지정 */
	font-size: 24pt;
	padding:30px;

}

#logo {
	width: 20%;
	height: 200%; /* 로고 이미지의 높이를 지정 */
}

#menu {
	display: flex;
}

#menu li {
	list-style: none;
	margin: 0 10px;
}

#menu a {
	text-decoration: none;
	color: black;
	font-weight: bold;
	font-family: 'SUITE-Regular';
}

#ansimH {
	width: 2000px;
	height: 100px;
	flex-grow: 0;
	border: 1px solid #F5F5F5;
	background: #5D7D55;
}

#boxBalance {
	width: 800px;
	height: 80px;
	flex-grow: 0;
	margin: 3% auto;
	padding: 5%;
	border: 1px solid #F5F5F5;
	background: #E6F0E0;
	border-radius: 15px;
	position: relative;
	text-align: center;
	left: 24%;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.BalNum {
	width: 900px;
	height: 100px;
	flex-grow: 0;
	margin: 90px 0 0 200px;
	font-family: 'SUITE-Regular';
	font-size: 60px;
	font-weight: 800;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: normal;
	text-align: left;
	color: #000;
}

#BaL {
	display: flex;
	text-align: left;
	vertical-align: top;
	font-weight: bold;
	font-size: 18pt;
	font-family: 'SUITE-Regular';
}

#boxAccount {
	display: block;
	width: 800px;
	height: 80px;
	margin: 3% auto;
	padding: 5%;
	border: 1px solid #F5F5F5;
	background: #E6F0E0;
	border-radius: 15px;
	position: relative;
	text-align: center;
	left: 24%;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

#Acc {
	display: flex;
	text-align: left;
	vertical-align: top;
	font-weight: bold;
	font-size: 18pt;
	font-family: 'SUITE-Regular';
}

.bankN {
	width: 800px;
	height: 700px;
	flex-grow: 0;
	margin: 450px 0 0px 200px;
	font-size: 50px;
	font-weight: bold;
	text-align: right;
	vertical-align: bottom;
	color: #000;
	font-family: 'SUITE-Regular';
}

#stockEA {
	display: block;
	width: 800px;
	margin: 3% auto;
	padding: 5%;
	border: 1px solid black;
	border-radius: 15px;
}

#Sto {
	display: flex;
	text-align: left;
	vertical-align: top;
	font-weight: bold;
	font-size: 25pt;
	font-family: 'SUITE-Regular';
}

@import
	url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap")
	;

button {
	margin: 10px;

}

.w-btn {
	position: relative;
	border: none;
	display: inline-block;
	padding: 8px 20px;
	border-radius: 5px;
	font-family: 'SUITE-Regular';
	box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
	text-decoration: none;
	font-weight: 600;
	transition: 0.25s;
	background-color: #77af9c;
	color: white;
}

table {
	width: 800px;
	height: 550px;
	border-collapse: collapse;
	box-shadow: 0 5px 10px #e1e5ee;
	background-color: white;
	text-align: left;
	overflow: hidden;
	display: grid;
	justify-content: center;
	align-items: center;
	font-size: 1.3rem;
	background-color: #f9fbff;
	font-family: 'SUITE-Regular';

}

thead {
	box-shadow: 0 5px 10px #e1e5ee;
}

th {
	background-color: #f9fbff;
	padding: 1rem 2rem;
	text-transform: uppercase;
	letter-spacing: 0.1rem;
	font-size: 1.3rem;
	font-weight: 900;
}

td {
	padding: 1rem 2rem;
}

th, td {
	text-align: center;
}