@charset "UTF-8";
.complete_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.complete_container .div_btn {
  margin-top: 20px;
}


.div_btn {
	
	text-align: center;
	padding-top: 15vh;
}

.button{
      background: linear-gradient(125deg, #8BC34A, #4CAF50, #8BC34A);
      color:white;
      border:none;
      font-size:16pt;
      font-weight: bold;
      cursor:pointer;
      width : 10vw;
	  height : 5vh;
	  border-radius:10px;
	  margin-left: 20px;
	  margin-right: 20px;
}

.button:hover {
		color: black;
	transition : 0.5s;
	transform: scale(1.2);
}
