@charset "UTF-8";
.centered-container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	margin: 0;
	padding: 0;
}

.centered-content {
	width: 100%;
	max-width: 1200px;
}

th, td {
	border-bottom: 1px solid #ddd;
	width: 25%; /* Divide the width equally between the cells */
	text-align: center; /* Center the text horizontally */
}

.price {
	font-weight: bold;
}

.up {
	color: #BD423B;
}

.down {
	color: #3574D3;
}

table {
	 margin-top: 60px;
	table-layout: fixed;
	/* Makes the table take up the full width of its container */
	width: 100%;
	/* Sets the width of the table to be 100% of its container */
}

.title {
  margin-bottom: 20px;
}


.button {
	display: flex;
    justify-content: center;
	padding: 10px 20px;
	background-color: #28a745;
	color: white;
	text-decoration: none;
	justify-content: center;
	border-radius: 5px;
	width: fit-content;
	margin: 100px auto;

}