body {
    font-size: 20px;
    background-color: white;
    margin: 0;
    padding: 0;
}

header {
    background-color: #f8f9fa;
}

.logo h1 {
    color: #28a745;
}

.nav .nav-link {
    color: #28a745;
    font-size: 24px;
    font-weight: bold;
}

.nav .nav-link:hover {
    color: #218838;
    text-decoration: none;
}