@charset "UTF-8";

@font-face {
	font-family: 'NanumSquareNeo-Variable';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2')
		format('woff2');
	font-weight: normal;
	font-style: normal;
}

body, html {
	height: 80%;
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

#tempwd {
	font-family: 'NanumSquareNeo-Variable';
	font-size: 25pt;
	font-weight: bold;
	text-align: center;
	border-radius: 10px;
	
}

.container{
	width: 1000px;
	height: 250px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.btn-container {
	display: flex;
	justify-content: center;
	margin-top: 20px;
	
}

.btn {
	font-family: 'NanumSquareNeo-Variable';
	font-size: 28px;
	color: white;
	background: #04b404;
	border: none;
	cursor: pointer;
	font-weight: bold;
	border-radius: 5px;
	box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
	width: 150px; /* 고정된 가로 크기 */
	height: 50px; /* 고정된 세로 크기 */
}