<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.invest.stock.dao.StockDao">

	<select id="getTradeList" parameterType="map" resultType="com.invest.stock.dto.StockDao">
		
		select * from users 
		<where>
			<choose>
				<when test="searchn == 0"></when>
				<when test="searchn == 1"> orderStatus = #{search} </when>
				<when test="searchn == 2"> orderStatus = #{search} </when>
			</choose>
		</where> 
	 
		order by orderDate limit #{start} , #{count}
 		
	</select>
	
	
</mapper>